.card{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    /* border: 1px solid #e0e0e0; */
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    /* justify-content: center; */
    align-items: center;
    background-color: #eaeaea;
    
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin: 4px;
    padding: 5px;
    font-size: 20px;
    border-radius: 6px;
    font-weight: 600;
    /* background-color: #eaeaea; */
    /* background-color: white; */
    margin-bottom: 4px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 290px;
    margin: 5px;
    gap: 10px;
    overflow-y: auto;
}
.issue{
    color: #952323;
    background-color: #FDE5EC;
    font-size: 18px;
    font-weight: 600;
    margin: auto 20px;
    padding: 1px 10px;
    border-radius: 100px;
}
.create-btn{
    color: #000000;
    background-color: #D0BFFF;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    align-self: flex-start;
}
.create-btn:hover{
    background-color: #c9b5ff;
}